<div class="chat-container">
  <div class="chat-messages">

    <div class="grid gap-y-2">

      <!-- Chat Messages -->
      <app-chat-message
        text="Escribe el texto que quieres que revise."
      />

      @for (message of messages(); track $index) {
        @if( message.isGpt ) {
          <app-gpt-message-orthography
            [text]="message.text"
            [errors]="message.info!.errors"
            [text]="message.text"
            [userScore]="message.info!.userScore"
          />
        } @else {
          <app-my-message [text]="message.text"
          />
        }
      }






      @if (isLoading()) {
        <app-typing-loader />
      }



    </div>
  </div>

  <!-- MessageBox -->
  <app-text-message-box
    placeholder="Escribe aquí lo que deseas"
    (onMessage)="handleMessage($event)"
    [disableCorrections]="true"
  />




</div>
