@if( originalImage() ) {
  <div class="fixed flex flex-col items-center top-10 right-10 z-10 fade-in">
    <span>Editando</span>
    <img
      [src]="originalImage()"
      alt="Imagen a editar"
      class="border rounded-xl w-36 h-36 object-contain"
    />

    <button
      (click)="generateVariation()"
      class="btn-primary mt-2">
      Generar variación
    </button>
  </div>
}



<div class="chat-container">
  <div class="chat-messages">

    <div class="grid gap-y-2">

      <!-- Chat Messages -->
      <app-chat-message
        text="¿Qué deseas generar?"
      />

      @for (message of messages(); track $index) {
        @if( message.isGpt ) {
          <app-gpt-message-editable-image
            [text]="message.text"
            [imageInfo]="message.imageInfo!"
            (onSelectedImage)="handleImageChange($event, message.imageInfo!.url )"
          />
        } @else {
          <app-my-message [text]="message.text"
          />
        }
      }






      @if (isLoading()) {
        <app-typing-loader />
      }



    </div>
  </div>

  <!-- MessageBox -->
  <app-text-message-box
    placeholder="Escribe aquí lo que deseas"
    (onMessage)="handleMessage($event)"
  />



</div>
